<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sjtu.handtohandnew">
    <!--
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    -->
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 这个权限用于访问GPS定位 -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" /> -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/> -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- 读取外置存储。如果开发者使用了so动态加载功能并且把so文件放在了外置存储区域，则需要申请该权限，否则不需要 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 写外置存储。如果开发者使用了离线地图，并且数据写在外置存储区域，则需要申请该权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".HandApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.SendOrderDetailActivity"></activity>
        <activity android:name=".Activity.MapTestActivity" />
        <activity android:name=".Activity.Test02Activity" />
        <activity android:name=".Activity.ChatActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <!--
<meta-data
                android:name="com.baidu.lbsapi.API_KEY"
                android:value="tG5uhY3HcFhA2QlgW4pyLfXzTuihqchE" />
        -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" /> <!-- 设置环信应用的AppKey -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="tG5uhY3HcFhA2QlgW4pyLfXzTuihqchE" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2"></action>
            </intent-filter>
        </service>

        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1116191216168634#ppbz" /> <!-- 声明SDK所需的service SDK核心功能 -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" /> <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <activity android:name=".Activity.HistoryActivity" />
        <activity android:name=".Activity.AddressActivity" />
        <activity android:name=".Activity.MapActivity" />
        <activity android:name=".Activity.ConnectActivity" />
        <activity android:name=".Activity.OrderDetailActivity" />
        <activity android:name=".Activity.TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
 <meta-data
                android:name="Bmob_APP_KEY"
                android:value="3ccb0c9a5373c493ae5a95326b10b237"/> &lt;!&ndash; TODO 集成：1.5、配置IM SDK需要的广播和服务 &ndash;&gt;
        <receiver android:name="cn.bmob.newim.core.ConnectChangeReceiver">
            <intent-filter>
                <action android:name="cn.bmob.action.RECONNECT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>

        <service
                android:name="cn.bmob.newim.core.service.BmobIMService"
                android:process=":bmobcore"/>
        <service
                android:name="cn.bmob.newim.core.service.NotifyService"
                android:process=":bmobcore"/>
        <service android:name="cn.bmob.newim.core.service.ReConnectService"/>
        <service android:name="cn.bmob.newim.core.service.HeartBeatService"/>
        -->
        <activity android:name=".Activity.HomeActivity" />
        <activity android:name=".Base.BaseActivity" />
    </application>

</manifest>